*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:"moj-font";
    src:url("../font/Roboto-Regular.ttf");
}
body{
    font-family:"moj-font";
 }
#header{
    height:200px;
    width:100%;
    /*background-color: rgb(199, 211, 223);*/
    text-align: center;   
    padding: 40px;
    position: sticky;
    top: 0;              
    background: #fff;   
    z-index: 10;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
#logo a {
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  color: rgba(117, 50, 50, 0.74);
  /*background-color: beige;*/
}
#navigacija-korpa {
  height:50px;
  display:flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 30px;
  position:relative;
  /*background-color: rgb(72, 255, 0);*/
}
/* Navigacija */
#navigacija {
  flex: 1;             
  text-align: center;  
}
#navigacija ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#navigacija li {
  display: inline-block;
  margin: 0 60px;
}
#navigacija a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size:23px;
}
#navigacija a:hover{
  color:rgba(117, 50, 50, 0.74);
}
#navigacija ul li a.activ{
  color:rgba(117, 50, 50, 0.74);
}
/* Korpa */
#korpa {
 position: absolute;
 right:90px;
/*background-color: pink;*/
}
.image-container {
  width: 100%;
  height: 1150px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('../img/cover.jpg'); 
  background-size: cover;   
  background-position: center; 
  position: relative;       
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}
 .overlay-text h1 {
  font-size: 67px;
  font-weight: bold;
  letter-spacing: 8px;
  margin: 0;
}
 .overlay-text a {
  display: inline-block;
    padding: 20px 70px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: transparent; 
    border: 2px solid white; 
    text-align: center;
    cursor: pointer;
    margin-top:100px;
}
.overlay-text a:hover {
  color: rgba(117, 50, 50, 0.74);
  background-color: white;
}
.shopAll {
  position: relative;
  text-align: center;
  padding: 60px 20px;
  /*background-color: #333;*/
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;                
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  background-color: rgba(117, 50, 50, 0.74);
  border-radius: 3px;
  user-select: none;
  text-decoration: none;
}
.prev {
  left: 0;
  margin-left:50px;
}
.next {
  right: 0;
  margin-right:50px;
}
.prev:hover, .next:hover {
  background-color: bisque;
  color:white;
}
.shopAll h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  letter-spacing: 3px;
}
.products {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  /*background-color: red;*/
}
.product {
  position: relative;
  width: 500px;
  text-align: center;
  /*background-color: yellow;*/
}
.product img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}
.product .tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #333;
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 3px;
}
.product p {
  margin-top: 15px;
  font-size: 1.7rem;
  color: #333;
}
.product strong {
  display: block;
  margin-top: 5px;
  font-size: 1.6rem;
}
shop-btn {
  height:100px;
  margin-top: 40px;
  /*background-color: aqua;*/
}
.btn {
  display: inline-block;
  padding: 12px 28px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
  transition: background 0.3s ease;
}
.shop-btn a{
  display: inline-block;
    padding: 20px 70px;
    font-size: 25px;
    text-decoration: none;
    color: rgba(117, 50, 50, 0.74);
    border: 2px solid rgba(117, 50, 50, 0.74); 
    text-align: center;
    cursor: pointer;
}
.shop-btn a:hover{
  background-color: rgba(117, 50, 50, 0.74);
  color:white;
}
.full-width-title {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    border-top: 2px solid #ccc;
    margin-top:50px;
}
.full-width-title h2 {
    font-size: 2.5rem;
    margin: 0;
    color: #333;
}
.section {
    height:600px;
    width: 100%;
    padding: 40px;
    display: flex;
    gap: 200px;
    margin:50px auto 0;
    justify-content: center;
    box-sizing: border-box;
}
.text {
    width:30%;
    height:500px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:20px;
    background-color: #faf9f6;
    border:1px solid silver;
}
.text h2{
  font-size: 30px;
}
.text p{
  width:90%;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}
.image {
    width:30%;
    height:500px;
}
.image img {
    height:100%;
    width: 100%;
    border-radius: 8px;
    border:1px solid silver;
}
.banner-container {
  height:550px;
  width: 100%;
  margin-top:100px;
  text-align: center;
}
.banner-images {
  height:450px;
  width:100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item:hover{
  transform:scale(1.02);
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.item{
  width:17%;
}
.banner-images img {
  width:100%;   
  height: 430px;  
  object-fit: cover;
  display: block;
}
.banner-text {
  height:100px;
  width:100%;
  display: flex;
  justify-content: space-around;
}
.banner-text p {
  font-size: 32px;
  font-weight: bold;
  color: rgba(117, 50, 50, 0.74);
}
.site-footer{
  width:100%;
  height:170px;
  background: #333;
  color: white;
  text-align: center;
  padding: 30px 20px;
  margin-top:100px;
}
.footer-social {
  margin-bottom: 20px;
}
.footer-social a {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}
.footer-social a:hover {
  color: bisque; 
}
.footer-links {
  margin-bottom: 20px;
}
.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}
.footer-links a:hover {
  color: bisque; 
}
.footer-copy {
  font-size: 0.9rem;
  color: white;
}

/*Autor*/

#autor{
    width:100%;
    height:1000px;
    background-color: bisque;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
#autor-blok{
    width:80%;
    height:500px;
    /*background-color: burlywood;*/
    display:flex;
    justify-content:space-around;
    align-items: center;    
}
#autor-tekst{
    width:700px;
    height:450px;
    
    border:2px solid silver;
    background-color: white;
    margin-left: 1%;
    font-size:22px;
}
#autor-tekst :nth-child(1){
    margin-top:35px;
}
#autor-tekst p{
    margin-top:20px;
    margin-left:10px;
    color:black;
    text-align:center;
}
#autor-tekst :nth-child(5){
    text-align:left;
    margin:20px 15px 0px 15px;
}
#autor-slika{
    width:350px;
    height:500px;
    border:2px solid silver;
    margin-right: 1%;
}
#autor-slika img{
    width:100%;
    height:100%;
}
.site-footer1{
  width:100%;
  height:170px;
  background: #333;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

/*Forma*/

#content-form{
    width:100%;
    height:1000px;
    padding-top:40px;
    align-items: center;  
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#content-form h1{
   font-size:30px;
   margin-top:-100px;
}
#content-form-block{
    width:50%;
    height:660px;
    text-align:center;
    display:flex ;  
    justify-content: space-between;
    padding-top:20px;
    align-items: center;
}
#forma{
    width:100%;
    margin-left:21px;
    height:550px; 
}
#forma p{
    font-size:15px;
    padding:0px 15px;
}
 form{
    width:100%;
    height:100%;
    padding-top:20px;
    background-color:bisque;
    border:2px solid silver;
}
input[type="text"]{
	padding-left:10px;
    width:90%;
    height:60px;
}
input[type="email"]{
	padding-left:10px;
    width:90%;
    height:60px;
}
input[type="password"]{
	padding-left:10px;
    width:90%;
    height:60px;
}
input[type="button"]{
	width:25%;
	height:60px;
	background-color:rgba(117, 50, 50, 0.74);
	border:none;
	letter-spacing:5px;
	color:white;
	font-size:20px;    
    cursor:pointer;
    margin-top: 30px;
    font-weight: bold;
}
input[type="button"]:hover{
  background-color:burlywood;
  color:black;
}
.input:nth-child(1){
    margin-top: 0px;
    padding-top: 30px;
}
.input{
    margin-top:5px;
}
.blok-greske{
    font-size:15px;
    height:25px;
    padding: 0px 15px;
}
.blok-uspeh{
    height:25px;
}
.sakriveno{
    display:none;
}
.crvena-bordura{
    border:1px solid red;
}
#ispis{
    color:green;
    margin-top:-40px;
}
.naslov{
    text-align: center;
}

/*ShopAll*/
#product-title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.filter-bar {
  width:70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  padding: 10px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.filter-item {
  flex: 1;
  text-align: center;
}

.filter-item:first-child {
  text-align: left;
}

.filter-item:last-child {
  text-align: right;
}

.search-input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sortDropdown {
  height:60px;
  width:350px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left:40px;
  font-size: 20px;;
}

.fav-checkbox {
  display: flex;
  align-items: center;   
  gap: 6px;
  font-size: 19px;
  justify-content: end;
  line-height: 1; 
  margin-right:10px;       
}

.fav-checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
  position: relative;
     
}

.content-layout {
  display: flex;
  gap: 30px;
  width: 100%;
 
  position:relative;
  margin-top:50px;
}

/* Filteri levo */
.filters {
  height:370px;
  width: 250px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  position:absolute;
  top:5%;
  left:3%;
}
.filters h3{
 font-size: 35px;
}
.filter-section {
  margin-bottom: 20px;
}

.filter-section h4 {
  margin-bottom: 10px;
  font-size: 23px;
  color: #333;
}

.filters label {
  display: block;
  font-size: 20px;
}

/* Proizvodi desno */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70%; 
  margin:0px auto;
}

.product-card {
  height:780px;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-image {
  width: 85%;
  height: 600px;
  object-fit: cover;
  border-radius: 6px;
}



.product-name {
    font-size: 18px;
    margin: 10px 0;
}
.product-price {
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}

.product-actions {
    width:62%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-left:auto;
    margin-right:15px;
    
}

.btn-cart {
    padding: 14px 27px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease;
    background: rgba(117, 50, 50, 0.74);
    color: #fff;
}
.btn-cart:hover {
    background: bisque;
    color:rgba(117, 50, 50, 0.74);
}
.btn-save {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.product-actions .btn-save{
  justify-content: flex-end;
}
.icon-save {
  width: 32px;
  height: 32px;
  fill: white;          
  stroke: black;       
  stroke-width: 2px;
  transition: all 0.3s ease;
}

.btn-save.active .icon-save {
  fill: red;           
  stroke: red;          
  width: 32px;          
  height: 32px;         
}
#cartCount {
  font-weight: bold;
  margin-left: 6px;
  font-size: 18px;
  color: rgba(117, 50, 50, 0.9);
}












